#overlay {
  z-index: 1;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  z-index: 2;
  background: #fff;
  width: 30%;
  text-align: center;
  padding: 50px 0 35px;
}

#content p {
  margin-bottom: 20px;
}